.text-area {
    width: 186rem;
    height: 45rem;
    position: relative;
    &__input {
        resize: none;
        font-size: 3.75rem;
        width: inherit;
        height: inherit;
        padding: 6rem 4rem;
        z-index: -1;
        border-radius: 1rem;
        border: 0.25rem solid $color-lightGray;
        font-family: $font-regular;
        &:focus {
            outline: none;
        }
    }
    &__label {
        font-size: 3.5rem;
        position: absolute;
        z-index: 1;
        left: 2.5rem;
        padding: 1rem 1.5rem;
        background-color: $color-white;
        top: -3rem;
        font-family: $font-medium;
    }
}
