.toast_msg {
    @include flex-row;
    width: 90rem;
    border: 1px solid $color-lightGray;
    height: auto;
    background-color: $color-primary-dark;
    padding: 4rem;
    font-size: 3rem;
    font-family: $font-medium;
    box-shadow: 2px 4px 4px 2px $color-fadeGray;
    position: absolute;
    bottom: 6rem;
    color: $color-white;

    .circle_icon {
        font-size: 5rem;
    }
}
