.tool-tip {
    display: block;
    z-index: 50;
    //margin-left: 1rem;
    &.inline-block {
        display: inline-block;
    }
    &__wrapper {
        position: absolute;
    }
    &__main {
        cursor: pointer;
        width: max-content;
        .highlight {
            color: $color-primary-dark;
            text-decoration: underline;
        }
        &--body {
            transition: 0.5s all ease-in;
            //transform: scale(1.5);
            position: absolute;
            padding: 4rem;
            color: $color-textGray;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.23);
            background-color: $color-white;
            z-index: 1000;

            &::after {
                z-index: -1;
                background-color: $color-white;
                content: '';
                position: absolute;
                width: 3rem;
                height: 3.5rem;
                top: 0;
                left: calc(50% - 3rem);
                border: 1rem solid transparent;
                //border-color: transparent;
                transform-origin: 0 0;
                transform: rotate(-45deg);
                box-shadow: 2px -1.5px 2px 0 rgba(0, 0, 0, 0.1);
            }

            &.right {
                &::after {
                    top: 50%;
                    left: 0rem;
                    transform: rotate(220deg);
                }
            }

            &.left {
                &::after {
                    left: 100%;
                    top: 50%;
                    transform: rotate(-135deg);
                    box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}
